<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/5.3/components/navbar/
-->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img class= "logo me-1" src="/public/img/LogoUniMercado.png" alt="Logo UniMarket" > 
        <span class="fw-bold fs-4 text-titulos"> <Span style="color: #bf2a52">Uni</Span><span style=" color: #f2ae2e">Market</span>
      </a>

      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="nav">
        <ul class="navbar-nav me-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Categorias</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/produtos">Eletrônicos</a></li>
              <li><a class="dropdown-item" href="/produtos">Materiais Acadêmicos</a></li>
              <li><a class="dropdown-item" href="/produtos">Móveis</a></li>
              <li><a class="dropdown-item" href="/produtos">Livros</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/sobre">Sobre</a></li>
        </ul>

        <form class="d-flex me-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar produtos..." 
        </form>

        <a href="user_dashboard.html" class="text-dark me-3"><i class="bi bi-person fs-5"></i></a>
        <a href="checkout.html" class="text-dark position-relative">
          <i class="bi bi-cart fs-5"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">3</span>
        </a>
      </div>
    </div>
  </nav>