<footer>
    <div class="container">
      <div class="row g-4">
        <div class="col-md-3">
          <h5 class="text-white">UniMarket</h5>
          <p class="small">Transformando consumo estudantil em impacto sustentável através da economia circular no
            campus.</p>
        </div>
        <div class="col-md-3">
          <h6>Links Rápidos</h6>
          <ul class="list-unstyled small">
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Minha Conta</a></li>
            <li><a href="#">Ajuda</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>Categorias</h6>
          <ul class="list-unstyled small">
            <li><a href="#">Eletrônicos</a></li>
            <li><a href="#">Materiais Acadêmicos</a></li>
            <li><a href="#">Móveis</a></li>
            <li><a href="#">Livros</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>Contato</h6>
          <ul class="list-unstyled small">
            <li>contato@unimarket.com.br</li>
            <li>(11) 9999-9999</li>
            <li>São Paulo, SP</li>
          </ul>
        </div>
      </div>
      <hr class="border-secondary my-4" />
      <p class="text-center small text-muted mb-0">© 2025 UniMarket. Todos os direitos reservados.</p>
    </div>
  </footer>