  <!-- Hero -->
  <section class="hero-home text-center text-md-start">
    <div class="container py-5">
      <div class="row align-items-center g-5">
        <div class="col-lg-6">
          <h1 class="fw-bold display-5 mb-3">Economia circular no <span style="color: #d96c80">campus</span></h1>
          <p class="lead text-muted mb-4">Compre e revenda com segurança da sua casa. Um lugar para todos os desejos
            universitarios.</p>
          <div class="d-flex flex-wrap gap-3">
            <a href="/produtos" class="btn btn-primary-custom px-4 py-2">Explorar Produtos</a>
            <a href="/perfil" class="btn btn-outline-custom px-4 py-2">Anunciar Agora</a>
          </div>

          <div class="row text-center mt-5 pt-4">
            <div class="col">
              <h4 class="text-caixa fw-bold">15.2k+</h4>
              <p class="small text-muted mb-0">Estudantes ativos</p>
            </div>
            <div class="col">
              <h4 class="text-dolar fw-bold">8.7k+</h4>
              <p class="small text-muted mb-0">Produtos vendidos</p>
            </div>
            <div class="col">
              <h4 class="text-warning fw-bold">98%</h4>
              <p class="small text-muted mb-0">Satisfação</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 text-center">
          <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=1000&auto=format"
            class="img-fluid rounded-4 shadow-lg" alt="Estudantes">
        </div>
      </div>
    </div>
  </section>

   <!-- Categorias -->
  <section class="py-5" style="background: #f2e9ce45">
    <div class="container text-center">
      <h2 class="section-title">Explore pelas <span style='color: #f2ae2e'>Categorias</span></h2>
      <p class="text-muted mb-5">Encontre exatamente o que você precisa</p>

      <div class="row g-4">
        <div class="col-6 col-lg-3" id="CategoriaEletronicos">
          <a href="category_pages.html" class="text-decoration-none text-dark">
            <div class="card-category p-4" style="background: rgb(249, 249, 249);">
              <div class="icon" style="background: #bf2a52;"><i class="bi bi-laptop fs-3"></i></div>
              <h5>Eletrônicos</h5>
              <p class="small text-muted">Notebooks, tablets, smartphones</p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="category_pages.html" class="text-decoration-none text-dark">
            <div class="card-category p-4" style="background: rgb(249, 249, 249);">
              <div class="icon" style="background: #bfb74b;"><i class="bi bi-book fs-3"></i></div>
              <h5>Materiais Acadêmicos</h5>
              <p class="small text-muted">Calculadoras, materiais de laboratório</p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="category_pages.html" class="text-decoration-none text-dark">
            <div class="card-category p-4" style="background: rgb(249, 249, 249);">
              <div class="icon" style="background: #f2ae2e;"><i class="bi bi-bookshelf fs-3"></i></div>
              <h5>Móveis</h5>
              <p class="small text-muted">Mesas, cadeiras, sofás</p>
            </div>
          </a>
        </div>
        <div class="col-6 col-lg-3">
          <a href="category_pages.html" class="text-decoration-none text-dark">
            <div class="card-category p-4" style="background: rgb(249, 249, 249);">
              <div class="icon" style="background: #d96c80;"><i class="bi bi-journal-text fs-3 text-white"></i></div>
              <h5>Livros</h5>
              <p class="small text-muted">Didáticos e literatura</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
